html {
  width: 100%;
  height: 100%;
    }
  body {
   font-family: arial;
 }
span {
  color: #CC6666;
}
img {
  height: 200px;
  width: 350px;
}
h1, h3 {
  text-align: center;
  font-weight : bold;
}
#chap1, #chap2, #chap3, #chap4 {
  margin: 25px;
  padding : 5px;
}
